@font-face {
    font-family: 'ubuntu';
    src: url('Ubuntu-R.ttf');
}

.header{
    -fx-background-color: #c1e3ee;
}
.sideBar{
    -fx-background-color:  #0b3949;
}
.loginPanel{
    -fx-background-color: #bed3ce;
    -fx-background-insets: 20px;

}

.textBox{
    -fx-padding: 15px;
    -fx-border-insets: 15px;
    -fx-background-insets: 10px;
    -fx-font-family: 'ubuntu';
    -fx-font-size: 17px;
    -webkit-fx-text-transform: 'uppercase';

}
.loginButton{
    -fx-padding: 15px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
    -fx-font-family: 'ubuntu';
    -fx-font-size: 17px;
    -fx-background-color: #26665b;
    -fx-text-fill: white;
}
.labelHeading{
    -fx-font-family: 'ubuntu';
    -fx-font-size: 30px;
    -fx-text-fill: white;
}
.labelHeadingBack{
    -fx-background-color:  #26665b;
}
.loginButton:hover{
    -fx-padding: 15px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
    -fx-font-family: 'ubuntu';
    -fx-font-size: 17px;
    -fx-background-color: #3d9a94;
    -fx-text-fill: white;
}
.sideButton{
    -fx-font-family: 'ubuntu';
    -fx-font-size: 17px;
    -fx-text-alignment: right;
    -fx-background-color:  #26665b;
    -fx-text-fill: white;
    -fx-pref-height: 50px;
}

.sideButton:hover{
    -fx-font-family: 'ubuntu';
    -fx-font-size: 17px;
    -fx-background-color:  #3d9a94;
    -fx-text-fill: white;
    -fx-pref-height: 50px;
}
.newPatientTextBox{
    -fx-font-family: 'ubuntu';
    -fx-font-size: 10px;
}
.scrollPaneStyle{

    -fx-background: #bed3ce;
    -fx-border-color: #bed3ce;

}
.homePage{
    -fx-background-color:  #ffffff;
    -fx-background-insets: 20px;
}
.defaultBack{
    -fx-background-color:  #ffffff;
}
.sideLogo{
    -fx-text-fill: white;
    -fx-padding: 15px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}